<main class="main">
  <div class="container"> 
        
    <div class="div">
        <h1 class="h1 mt-4 mb-3" style="text-align:center; margin-top:25px; margin-bottom:25px"><strong>Nos Produits</strong></h1>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="/assets/images/ace.jpg" class="img-fluid">
              <div class="card-body">
                  <div class="card-title">
                      <h2>Ace D. Portgas</h2>
                  </div>
                  <div class="card-text">
                      <p>
                        Sweat à capuche pour homme du mangas One Piece représentant Portgas Ace 
                        vice capitaine de l'équipage de Barbe Blanche.
                      </p>
                  </div>
                  <button [fedaCheckoutOptions]="checkoutButtonOptions">Payer</button>
              </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="/assets/images/meliodas.jpg" class="img-fluid">
              <div class="card-body">
                  <div class="card-title">
                      <h2>Méliodas</h2>
                  </div>
                  <div class="card-text">
                      <p>
                        Sweat à capuche pour homme du mangas Nanatsu No Tazai représentant Meliodas
                        chef des Seven Deadly Seans.
                      </p>
                  </div>
                  <button [fedaCheckoutOptions]="checkoutButtonOptions">Payer</button>
              </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="/assets/images/asta.jpg" class="img-fluid">
              <div class="card-body">
                  <div class="card-title">
                      <h2>Asta</h2>
                  </div>
                  <div class="card-text">
                      <p>
                        Sweat à capuche unisexe du mangas Black Clover représentant Asta
                        membre de la compagnie du Taureau Noir.
                      </p>
                  </div>
                  <button [fedaCheckoutOptions]="checkoutButtonOptions">Payer</button>
              </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="/assets/images/juice1.jpg" class="img-fluid">
              <div class="card-body">
                  <div class="card-title">
                      <h2>Juice WRLD</h2>
                  </div>
                  <div class="card-text">
                      <p>
                        Sweat à capuche avec la cover du troisième album de l'artiste
                        et vendu lors de son concert.
                      </p>
                  </div>
                  <button [fedaCheckoutOptions]="checkoutButtonOptions">Payer</button>
              </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="assets/images/sos.jpg" class="img-fluid">
              <div class="card-body">
                  <div class="card-title">
                      <h2>5 SOS</h2>
                  </div>
                  <div class="card-text">
                      <p>
                        Sweat à capuche unisexe portant l'effigie du boys band SOS
                        vendu lors de leur concert.
                      </p>
                  </div>
                  <button [fedaCheckoutOptions]="checkoutButtonOptions">Payer</button>
              </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="/assets/images/Power.jpg" class="img-fluid">
              <div class="card-body">
                  <div class="card-title">
                      <h2>Power</h2>
                  </div>
                  <div class="card-text">
                      <p>
                        Sweat à capuche unisexe portant la cover de la série télévisée Power
                        illustrant leur personnage vedette.
                      </p>
                  </div>
                  <button [fedaCheckoutOptions]="checkoutButtonOptions">Payer</button>
              </div>
          </div>
      </div>
      <!--Row-->
  </div>
</div>
</main>